<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">Navbar</a>
    <button
      class="navbar-toggler d-lg-none"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#collapsibleNavId"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto mt-2 mt-lg-0">
        <li class="nav-item" *ngIf="isLoggedIn">
          <a
            class="nav-link active"
            routerLink="/"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Film</a
          >
        </li>
        <li class="nav-item" *ngIf="isLoggedIn">
          <a class="nav-link" routerLink="/profile" routerLinkActive="active"
            >Profilo</a
          >
        </li>
        <li class="nav-item" *ngIf="!isLoggedIn">
          <a class="nav-link" routerLink="/auth" routerLinkActive="active"
            >Accedi</a
          >
        </li>
        <li class="nav-item" *ngIf="isLoggedIn">
          <button class="btn btn-primary" (click)="logout()">Logout</button>
        </li>
      </ul>
    </div>
  </div>
</nav>
