@model _07232024_s6_progetto.Models.Guest

@{
    ViewData["Title"] = "Crea Nuovo Cliente";
}

<h1>Crea Nuovo Cliente</h1>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="CF" class="control-label">Codice Fiscale</label>
        <input asp-for="CF" class="form-control" />
        <span asp-validation-for="CF" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="FirstName" class="control-label">Nome</label>
        <input asp-for="FirstName" class="form-control" />
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="LastName" class="control-label">Cognome</label>
        <input asp-for="LastName" class="form-control" />
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="CityOfResidence" class="control-label">Città di Residenza</label>
        <input asp-for="CityOfResidence" class="form-control" />
        <span asp-validation-for="CityOfResidence" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ProvinceOfResidence" class="control-label">Provincia di Residenza</label>
        <input asp-for="ProvinceOfResidence" class="form-control" />
        <span asp-validation-for="ProvinceOfResidence" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Email" class="control-label">Email</label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Phone" class="control-label">Telefono</label>
        <input asp-for="Phone" class="form-control" />
        <span asp-validation-for="Phone" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="MobilePhone" class="control-label">Cellulare</label>
        <input asp-for="MobilePhone" class="form-control" />
        <span asp-validation-for="MobilePhone" class="text-danger"></span>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Crea</button>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


