@model IEnumerable<_07232024_s6_progetto.Models.AdditionalService>

@{
    ViewData["Title"] = "Servizi Aggiuntivi";
}

<h1>Servizi Aggiuntivi</h1>

<table class="table">
    <thead>
        <tr>
            <th>Nome Servizio</th>
            <th>Prezzo</th>
            <th>Azioni</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var service in Model)
        {
            <tr>
                <td>@service.Description</td>
                <td>@service.Price</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@service.AdditionalServiceID" class="btn btn-warning btn-sm">Modifica</a>
                    <a asp-action="Delete" asp-route-id="@service.AdditionalServiceID" class="btn btn-danger btn-sm">Elimina</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="Create" class="btn btn-primary">Aggiungi Nuovo Servizio</a>


