<div class="text-center mb-4">
  <img
    src="{{ autoAudi[0].brandLogo }}"
    alt="Fiat Logo"
    class="brand-logo img-fluid"
  />
</div>
<div class="row justify-content-center">
  <h2 class="text-center mb-4" id="i-nostri-marchi">Le nostre Audi</h2>
  <div class="col-md-6 col-lg-4 mb-4" *ngFor="let autoAudi of autoAudi">
    <div class="card h-100">
      <img
        src="{{ autoAudi.modelImage }}"
        class="card-img-top"
        alt="image auto"
      />
      <div
        class="card-body text-center"
        [ngClass]="{
          'text-bg-success': !autoAudi.available,
          'text-bg-danger': autoAudi.available
        }"
      >
        <h5 class="card-title">{{ autoAudi.model }}</h5>
        <p class="card-text">{{ autoAudi.year }} - ${{ autoAudi.price }}</p>
        <p class="card-text">
          Pronta consegna: {{ autoAudi.available ? "NO" : "SI" }}
        </p>
      </div>
    </div>
  </div>
</div>
