<div class="text-center mb-4">
  <img
    src="{{ autoFord[0].brandLogo }}"
    alt="Fiat Logo"
    class="brand-logo img-fluid"
  />
</div>
<div class="row justify-content-center">
  <h2 class="text-center mb-4" id="i-nostri-marchi">Le nostre Ford</h2>
  <div class="col-md-6 col-lg-4 mb-4" *ngFor="let autoFord of autoFord">
    <div class="card h-100">
      <img
        src="{{ autoFord.modelImage }}"
        class="card-img-top"
        alt="image auto"
      />
      <div
        class="card-body text-center"
        [ngClass]="{
          'text-bg-success': !autoFord.available,
          'text-bg-danger': autoFord.available
        }"
      >
        <h5 class="card-title">{{ autoFord.model }}</h5>
        <p class="card-text">{{ autoFord.year }} - ${{ autoFord.price }}</p>
        <p class="card-text">
          Pronta consegna: {{ autoFord.available ? "NO" : "SI" }}
        </p>
      </div>
    </div>
  </div>
</div>
