<div class="row">
  <div class="col-6" *ngFor="let autoFiat of autoFiat">
    <div class="card" style="width: 200px">
      <img
        src="{{ autoFiat.modelImage }}"
        class="card-img-top"
        alt="image auto"
      />
      <div class="card-body">
        <h5 class="card-title">{{ autoFiat.model }}</h5>
        <p class="card-text">{{ autoFiat.year }} {{ autoFiat.price }}</p>
        <p class="card-text">
          Pronta consegna: {{ autoFiat.available ? "NO" : "SI" }}
        </p>
        <a href="#" class="btn btn-primary"
          >Tutte le nostre {{ autoFiat.brand }}</a
        >
      </div>
    </div>
  </div>
</div>
