.active{
    font-weight: bold;
}
.extra-small-text{
    font-size: 0.7em;
}
.container-personalizzato{
    width: 100%;
    @media screen and (min-width: 993px){
        width: 70%;
    }
}

.av-kids{
    width: 30px;
}
.size{
    font-size: 1.4em;
}

