<div class="row">
  <div class="col-4" *ngFor="let movie of moviesArr">
    <div class="card">
      <img class="card-img-top" [src]="movie.posterUrl" alt="Title" />
      <div class="card-body">
        <h4 class="card-title">{{ movie.titolo }}</h4>
        <p class="card-text">{{ movie.anno }}</p>
        <button
          class="btn"
          [ngClass]="{
            'btn-success': !isFavourite(movie),
            'btn-danger': isFavourite(movie)
          }"
          (click)="toggleFavourite(movie)"
        >
          {{ isFavourite(movie) ? "Rimuovi" : "Aggiungi" }}
        </button>
      </div>
    </div>
  </div>
</div>
